/* Configuración */

.actions-wrapper button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.email-table {
    border-collapse: separate;
    border-spacing: 10px 0;
}

.email-table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.email-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

.email-table td p {
    color: #ddd !important;
}

.email-table td:nth-child(3),
.email-table td:nth-child(4) {
    text-align: center;
}

.status-wrapper {
    max-width: 1rem;
    max-height: 1rem;
}