
                              <div class="row newsTop" style="margin-right: -24px; background-image: linear-gradient(90deg,#1b5686 30%,#6d93b2 65%,#fff 90%); border-radius: 10px; padding: 20px; border: 3px solid #1b5686;">
                                <table class="" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 100%;" width="100%">
                                  <tbody>
                                    <tr>
                                      <td class="col-6 p-5 justify-content-center" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; width: 50%; margin: 0; padding: 20px 24px 20px 20px;" align="left" valign="top">
                                        <div>
                                          <p class="text-light" style="font-family: 'Indivisa Text Sans'; font-size: 15px; text-transform: uppercase; font-weight: 600; line-height: normal !important; color: #f7fafc; width: 100%; margin: 0;" align="left">
                                            __area__
                                          </p>
                                          <h1 class="text-light" style="font-family: 'Indivisa Display Sans'; font-size: 26px; font-weight: 900; color: #f7fafc; padding-top: 0; padding-bottom: 0; vertical-align: baseline; line-height: normal !important; margin: 0;" align="left">
                                            __title__
                                          </h1>
                                          <table class="s-3 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                                            <tbody>
                                              <tr>
                                                <td style="line-height: 12px; font-size: 12px; width: 100%; height: 12px; margin: 0;" align="left" width="100%" height="12">
                                                  &#160;
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                          <p class="text-light" style="font-family: 'Indivisa Text Sans'; font-size: 18px; font-weight: 400; line-height: normal !important; color: #f7fafc; width: 100%; margin: 0;" align="left">
                                            __description__
                                          </p>
                                          <table class="s-5 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                                            <tbody>
                                              <tr>
                                                <td style="line-height: 20px; font-size: 20px; width: 100%; height: 20px; margin: 0;" align="left" width="100%" height="20">
                                                  &#160;
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                          <table class="btn btn-light p-1" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: 6px; border-collapse: separate !important;">
                                            <tbody>
                                              <tr>
                                                <td style="line-height: 24px; font-size: 16px; border-radius: 6px; margin: 0;" align="center" bgcolor="#f7fafc">
                                                  <a href="__url__" style="color: #fff !important; font-size: 18px !important; font-family: 'Indivisa Text Sans' !important; text-decoration: none; border-radius: 6px; line-height: 20px; display: block; font-weight: normal !important; white-space: nowrap; background-color: #7696cc !important; width: 140px !important; padding: 4px; border: 1px solid transparent;">Contin&#250;a</a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </td>
                                      <td class="col-6 align-self-center ay-middle" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 50%; margin: 0;" align="left" valign="middle">
                                        <img src="__img__" class="img-fluid" style="object-fit: cover; border-radius: 10px; height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; max-width: 100%; width: 100%; border-style: none; border-width: 0;" alt="" width="100%">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              