
                                      <td class="col-3" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 25%; margin: 0;" align="left" valign="top">
                                        <table class="p-0" role="presentation" border="0" cellpadding="0" cellspacing="0">
                                          <tbody>
                                            <tr>
                                              <td style="line-height: 24px; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                <img class="img-fluid" src="__img__" style="border-radius: 20px; max-width: 300px; max-height: 300px; object-fit: cover; height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; width: 100%; border-style: none; border-width: 0;" alt="" width="100%">
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <table class="s-3 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                                          <tbody>
                                            <tr>
                                              <td style="line-height: 12px; font-size: 12px; width: 100%; height: 12px; margin: 0;" align="left" width="100%" height="12">
                                                &#160;
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <table class="p-0" role="presentation" border="0" cellpadding="0" cellspacing="0">
                                          <tbody>
                                            <tr>
                                              <td style="line-height: 24px; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                <p class="" style="font-family: 'Indivisa Text Sans'; font-size: 15px; font-weight: 600; text-transform: uppercase; line-height: normal !important; width: 100%; margin: 0;" align="left">
                                                  __area__
                                                </p>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <table class="p-0" role="presentation" border="0" cellpadding="0" cellspacing="0">
                                          <tbody>
                                            <tr>
                                              <td style="line-height: 24px; font-size: 16px; margin: 0; padding: 0;" align="left">
                                                <h3 class="" style="font-family: 'Indivisa Display Sans'; font-size: 20px; font-style: italic; font-weight: normal; padding-top: 0; padding-bottom: 0; vertical-align: baseline; line-height: normal !important; margin: 0;" align="left">
                                                  __title__
                                                </h3>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <table class="s-4 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                                          <tbody>
                                            <tr>
                                              <td style="line-height: 16px; font-size: 16px; width: 100%; height: 16px; margin: 0;" align="left" width="100%" height="16">
                                                &#160;
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <table class="btn btn-primary p-1 text-light" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: 6px; border-collapse: separate !important; color: #f7fafc;">
                                          <tbody>
                                            <tr>
                                              <td style="line-height: 24px; font-size: 16px; border-radius: 6px; color: #f7fafc; margin: 0;" align="center" bgcolor="#0d6efd">
                                                <a href="__url__" style="color: #fff !important; font-size: 18px !important; font-family: 'Indivisa Text Sans' !important; text-decoration: none; border-radius: 6px; line-height: 20px; display: block; font-weight: normal !important; white-space: nowrap; background-color: #7696cc !important; width: 140px !important; padding: 4px; border: 1px solid transparent;">Contin&#250;a</a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                      -- ITEM --